@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
    url('./fonts/press-start-2p-v7-latin-ext_latin-regular.woff2')
      format('woff2'),
    url('./fonts/press-start-2p-v7-latin-ext_latin-regular.woff') format('woff');
}

.main {
  min-height: 100vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.container {
  display: grid;
  grid-template-columns: [sidebar] [content];
}

.sidebar {
  grid-column: sidebar;
}

.content {
  grid-column: content;
}

@media (min-width: 480px) {
  .container {
    grid-column-gap: 1rem;
    grid-template-columns: [sidebar] auto [content] 1fr;
  }
}
